@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #606eef;
  --color-cyan: #46e0c5;
  --text-color-light: #303030;
  --text-color-dark: #ffffff;
  --body-color-light: #f3f3f3;
  --body-color-dark: #1c1c1c;
  --card-bgcolor-dark: #3e3e3e;
  --card-bg-color-light: #ffffff;
  --btn-gradient: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-cyan)
  );
  --hero-gradient-dark: linear-gradient(113.8deg, #1d1f20, #b9d1e8);
  --hero-gradient-light: linear-gradient(113.8deg, #ffffff, #b9d1e8);
  --input-outoffocus: #3e3e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--text-color-light);
}

.DTinput {
  /* @apply border-2 border-solid py-2 px-4;
  @apply bg-gradient-to-br from-[var(--color-blue)] to-[var(--color-cyan)]; */
  border: 2px solid var(--input-outoffocus);
  padding: 0.5rem 1rem;
  width: 400px;
  border-color: var(---input-outoffocus);
  border-radius: 0.25rem;
}
.DTinput:focus {
  border-image: var(--btn-gradient);
  outline: none;
  border-image-slice: 1;
  border-radius: 10px;
}
.DTTextArea{
  border: var(--input-outoffocus);
}
.DTTextArea:focus{
  border-image: var(--btn-gradient);
  outline: none;
  border-image-slice: 1;
  border-radius: 10px;
}
.DTheading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.DTbodytext {
  font-size: 14px;
  font-weight: 300;
}

.heroBG {
  background-image: var(--hero-gradient-light);
}
.sectionBG {
  background-image: url("/assets/rightSideLogo.svg");
  background-repeat: no-repeat;
}
.DTNavbar {
  /* @apply transition-all */
  width: 95vw;
  height: 70px;
  position: fixed;
  top: 1rem;
  font-family: "Nunito", sans-serif;
  margin: 0 1rem;
  padding: 0.75rem 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  border-radius: 0.5rem;
  border: none;
}
.boxshadow {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.DTNavbarLogoText {
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.btngradient {
  background-image: var(--btn-gradient);
  border-radius: 8px;
  padding: 0.75rem 2rem;
  color: white;
  font-weight: 500;
}
.sectionPaddings {
  padding: 8rem 7rem;
}

@media screen and (max-width: 768px) {
  .sectionPaddings {
    padding-left: 4.5rem;
  }
  .DTinput {
    width: 250px !important;
  }
  .DTheading{
    font-size: ;
  }
  .sectionBGImage{
    width: 200px;
  }
}
@media screen and (max-width: 468px){
  .sectionBGImage{
    display: none;
  }
}